@model Employee
<h2>Employees Details:</h2>
<body>
    <dl class="row">
        <dt class="col-sm-2">
            Employee ID
        </dt>
        <dd class="col-sm-10">
            @Model.Id
        </dd>
        <dt class="col-sm-2">
            Branch ID
        </dt>
        <dd class="col-sm-10">
            @Model.WorkplaceId
        </dd>
        <dt class="col-sm-2">
            Employee Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            Position
        </dt>
        <dd class="col-sm-10">
            @Model.Position
        </dd>
        <dt class="col-sm-2">
            Civil ID
        </dt>
        <dd class="col-sm-10">
            @Model.CivilId
        </dd>
    </dl>
</div>
</div>
</body>
<a href="@Url.Action("Employees", "Bank")" class="btn btn-info">Back to List</a>